<html>
    <head>
       <title>Sign up or Login</title>
       <style>
         .heading{
            text-align: center;
            margin : 3rem
         }
         .button{
           font-size: 20px;
           font-weight: bold;
           margin: 20px 50px 0 0;
           padding: 10px;
        }

        .button > a{
           text-decoration: none;
        }

       </style>
    </head>
     <body>
     <h1 class = 'heading'>Home Page</h1>
        <button class = 'button'>
           <a href= '/signup'>Sign up</a>
        </button>
        <button class = 'button'>
           <a href = '/login'>Login</a>
        </button>
    </body>
</html>
